@import './_normalize';
@import './_variables';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $blue;
  font-family: 'Courier New', Courier, monospace;
  // background: $gray url("../assets/img/pp.png");
  padding: 50px;
}
